<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fromulario de registro</title>
    {% load static %}
</head>
<body>
    <div class="form-container">
        <h1>Registro de Usuario</h1>
        <form method="post" action="{% url 'registro' %}" autocomplete="off">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Regsitrar</button>
        </form>
        
    </div>
</body>
</html>